.settings-container-wrapper {
  width: 30vw;
  display: flex;
  flex-direction: column;
  background: rgb(14, 16, 14);
  background: linear-gradient(
    90deg,
    rgba(14, 16, 14, 1) 18%,
    rgba(22, 24, 18, 1) 47%,
    rgba(20, 21, 17, 1) 100%
  );
  box-sizing: border-box;
  margin-top: 5em;
  box-shadow: 5px 5px 15px black;
}

.settings-container-wrapper h2 {
  padding: 0.4vh;
  font-size: 1vw;
}

.settings-container-wrapper h2 {
  text-align: center;
  color: whitesmoke;
}

.settings-left {
  display: flex;
  border: 0.1vw #8d8d8d solid;
  background-color: #292929;
  margin-top: 0.4em;
}

.checkbox-container {
  position: relative;
  color: whitesmoke;
  width: 11vw;
  align-self: center;
  margin: 0 0.8em;
  display: flex;
  justify-content: center;
  font-size: 0.7vw;
}

.settings-container-middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0.5em 2em;
}

.settings-container-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0;
}

.randomize-all-button {
  border: 0.1vw #8d8d8d solid;
  box-sizing: border-box;
  height: 2vw;
  display: flex;
  align-items: center;
  text-align: center;
  background: rgb(25, 25, 25);
  background: linear-gradient(
    90deg,
    rgba(25, 25, 25, 1) 18%,
    rgba(41, 41, 41, 1) 74%,
    rgba(62, 64, 65, 1) 100%
  );
  color: #f5f5f5;
  padding: 1em;
  cursor: pointer;
  font-size: 0.8vw;
}

.dice {
  height: 1.5vw;
  float: right;
  filter: invert(100);
  padding-left: 1em;
  top: 0.1vw;
}

@media only screen and (max-width: 960px) {
  .settings-container-wrapper {
    width: 100vw;
    margin-top: 3.5em;
  }
  .settings-container-wrapper h2 {
    font-size: 4vw;
  }
  .checkbox-container {
    width: 35vw;
    font-size: 3vw;
    padding: 0.5vw;
  }
  .randomize-all-button {
    height: 6vw;
    font-size: 4vw;
  }
  .dice {
    height: 6vw;
  }
}
