.bodyarmor-container {
    position: relative;
    display: flex;
    left: 261px;
    height: 180px;
    top: -2px;
    z-index: 0;
}

.bodyarmor-icon-container {
    width: 158px; 
    height: 156px; 
    border: 2px #8D8D8D solid;
    position: relative;
    backdrop-filter: blur(6px);
    box-sizing: border-box;
    top: -154px;
    left: 263px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bodyarmor-button-container {
    z-index: 1;
}

.bodyarmor-icon {
    width: fit-content;
    max-height: 100%;
    backdrop-filter: blur(6px);
    overflow: hidden;
}

.bodyarmor-button {
    position: relative;
    width: 163px;
    background: rgb(38,38,38);
    background: linear-gradient(180deg, rgba(38,38,38,1) 6%, rgba(22,23,22,1) 81%, rgba(38,38,38,1) 100%);
    color: #f5f5f5;
    height: 26px;
    cursor: pointer;
    font-size: 14px;
}

.bodyarmor-name-container {
    color: #f5f5f5;
    border: 2px #8D8D8D solid;
    position: absolute;
    width: 140px;
    background-color:#353935;
    padding: 0.1em;
    text-align: center;
    box-sizing: border-box;
    left: 272px;
    top: 170px;
    z-index: 0;
}

.chestrig-icon {
    height: 140px;
    object-fit: cover;
    overflow: hidden;
}


.chestrig-icon-container {
    width: 158px; 
    height: 156px; 
    border: 2px #8D8D8D solid;
    position: relative;
    backdrop-filter: blur(6px);
    box-sizing: border-box;
    left: 331px;
    top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chestrig-name-container {
    color: #f5f5f5;
    border: 2px #8D8D8D solid;
    position: relative;
    width: 140px;
    background-color:#353935;
    padding: 0.1em;
    text-align: center;
    box-sizing: border-box;
    left: 340px;
    top: -10px;
}

.chestrig-title {
    position: relative;
    width: 164px;
    left: 328px;
    top: 1px;
    color: #f5f5f5;
    border: 2px #2b2b2b solid;
    background: rgb(38,38,38);
    background: linear-gradient(180deg, rgba(38,38,38,1) 6%, rgba(22,23,22,1) 81%, rgba(38,38,38,1) 100%);
    padding: 0.1em;
    text-align: center;
    box-sizing: border-box;
}

.armoredrig-chestrig-info {
    width: 158px; 
    height: 156px; 
    border: 2px #8D8D8D solid;
    position: relative;
    backdrop-filter: blur(2px);
    box-sizing: border-box;
    top: 3px;
    left: 331px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #f5f5f5;
    padding: 1em;
}

.no-bodyarmor-to-show {
    width: 158px;
    height: 156px;
    border: 2px #8D8D8D solid;
    position: relative;
    backdrop-filter: blur(2px);
    box-sizing: border-box;
    top: -154px;
    left: 263px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #f5f5f5;
}

.no-chestrig-to-show {
    width: 158px;
    height: 156px;
    border: 2px #8D8D8D solid;
    position: relative;
    backdrop-filter: blur(2px);
    box-sizing: border-box;
    top: -153px;
    left: 331px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #f5f5f5;
}