.helmet-icon {
    position: relative;
    left: 263px;
    height: 155px;
    width: 158px;
    top: -30px;
}

.headwear-button {
    position: relative;
    left: 260px;
    width: 163px;
    top: 18px;
    background-color:#353935;
    color: azure;
}



