.pistol-container {
    position: relative;
    display: flex;
    flex-direction: column;

}

.pistol-icon-container {
    width: 158px; 
    height: 156px; 
    border: 2px #8D8D8D solid;
    position: relative;
    box-sizing: border-box;
    top: 2px;
    left: 2px;
    overflow: hidden;
    backdrop-filter: blur(6px);
}

.pistol-icon {
    height: 50%;
    margin-top: 36px;
    object-fit: cover;
}

.pistol-button {
    position: relative;
    width: 163px;
    background: rgb(38,38,38);
    background: linear-gradient(180deg, rgba(38,38,38,1) 6%, rgba(22,23,22,1) 81%, rgba(38,38,38,1) 100%);
    color: #f5f5f5;
    height: 26px;
    cursor: pointer;
    font-size: 14px;
}

.pistol-name-container {
    color: #f5f5f5;
    border: 2px #8D8D8D solid;
    position: relative;
    width: 140px;
    background-color:#353935;
    padding: 0.1em;
    text-align: center;
    box-sizing: border-box;
    left: 11px;
    top: -12px;
}

.no-pistol-to-show {
    width: 158px; 
    height: 156px; 
    border: 2px #8D8D8D solid;
    position: relative;
    backdrop-filter: blur(2px);
    box-sizing: border-box;
    top: 2px;
    left: 2px;
    text-align: center;
    display: flex;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #f5f5f5;
    align-items: center;
    padding: 1em;
}

