.bodyarmor-container {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 262px;
}

.bodyarmor-icon-container {
    width: 158px; 
    height: 156px; 
    border: 2px #8D8D8D solid;
    position: relative;
    backdrop-filter: blur(6px);
    box-sizing: border-box;
    top: -22px;
    left: 2px;
    box-sizing: border-box;
}

.bodyarmor-icon {
    height: 100%;
    object-fit: cover;
    backdrop-filter: blur(6px);
    overflow: visible;
}

.bodyarmor-button {
    position: relative;
    width: 163px;
    background: rgb(38,38,38);
    background: linear-gradient(180deg, rgba(38,38,38,1) 6%, rgba(22,23,22,1) 81%, rgba(38,38,38,1) 100%);
    color: #f5f5f5;
    height: 26px;
    cursor: pointer;
    font-size: 14px;
}

.bodyarmor-name-container {
    color: #f5f5f5;
    border: 2px #8D8D8D solid;
    position: absolute;
    width: 140px;
    background-color:#353935;
    padding: 0.1em;
    text-align: center;
    box-sizing: border-box;
    left: 11px;
    top: 170px;
}

.chestrig-icon {
    height: 100%;
    object-fit: cover;
    backdrop-filter: blur(6px);
    overflow: visible;
}

.chestrig-icon-container {
    width: 158px; 
    height: 156px; 
    border: 2px #8D8D8D solid;
    position: relative;
    backdrop-filter: blur(6px);
    box-sizing: border-box;
    top: -179px;
    left: 231px;
    display: flex;
    justify-content: center;
}

.chestrig-name-container {
    color: #f5f5f5;
    border: 2px #8D8D8D solid;
    position: relative;
    width: 140px;
    background-color:#353935;
    padding: 0.1em;
    text-align: center;
    box-sizing: border-box;
    left: 240px;
    top: -193px;
}

.chestrig-title {
    position: relative;
    top: -26px;
    left: 229px;
    color: #f5f5f5;
    border: 2px #2b2b2b solid;
    background: rgb(38,38,38);
    background: linear-gradient(180deg, rgba(38,38,38,1) 6%, rgba(22,23,22,1) 81%, rgba(38,38,38,1) 100%);
    padding: 0.1em;
    text-align: center;
    box-sizing: border-box;
}

.armoredrig-chestrig-info {
    width: 158px; 
    height: 156px; 
    border: 2px #8D8D8D solid;
    position: relative;
    backdrop-filter: blur(2px);
    box-sizing: border-box;
    top: -179px;
    left: 231px;
    display: flex;
    text-align: center;
    align-items: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff0000;
    padding: 1em;
}

.no-bodyarmor-to-show {
    width: 158px;
    height: 156px;
    border: 2px #8D8D8D solid;
    position: relative;
    backdrop-filter: blur(2px);
    box-sizing: border-box;
    top: -22px;
    left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #f5f5f5;
}

.no-chestrig-to-show {
    width: 158px;
    height: 156px;
    border: 2px #8D8D8D solid;
    position: relative;
    backdrop-filter: blur(2px);
    box-sizing: border-box;
    top: -179px;
    left: 231px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #f5f5f5;
}