.small-item-container {
    display: flex;
    flex-direction: column;
    width: 7.1vw;
    height: 8.15vw;
}

.small-item-icon {
    height: 99%;
    width: auto;
    object-fit: cover;
    overflow: hidden;
}

.small-item-button {
    font-size: 0.6vw;
    background: rgb(38,38,38);
    background: linear-gradient(180deg, rgba(38,38,38,1) 6%, rgba(22,23,22,1) 81%, rgba(38,38,38,1) 100%);
    color: #f5f5f5;
    cursor: pointer;
    display: flex;
    width: 7.3vw;
    justify-content: center;
    align-items: center;
    margin-left: -0.05vw;
    height: 1.05vw;
}

.small-item-icon-container, .no-small-item-to-show {
    border: 0.1vw #8D8D8D solid;
    backdrop-filter: blur(6px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 7vw;
    margin-top: 0.1vw;
    padding: 0.2vw
}

.small-item-name-container {
    color: #f5f5f5;
    border: 0.1vw #8D8D8D solid;
    width: 6vw;
    background-color:#353935;
    padding: 0.1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 0.6vw;
    top: -0.6vw;
    left: 0.55vw;
    position: relative;
}

.icon-loading {
    height: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-small-item-to-show {
    font-size: 0.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #f5f5f5;
}

@media screen and (max-width: 500px) {
    .small-item-container {
        width: 24vw;
        height: 26vw;
    }
    .small-item-icon-container, .no-small-item-to-show {
        margin-top: 0.2vw;
        height: 22.5vw;
    }
    .small-item-button {
        height: 4vw;
        width: 24.75vw;
        font-size: 2.5vw;
        margin-left: -0.25vw;
    }
    .small-item-name-container {
        width: 20vw;
        font-size: 2.5vw;
        margin-top: -1.5vw;
        margin-left: 1.5vw;

    }
    .no-small-item-to-show {
        font-size: 3vw;
    }
    .icon-loading{
        height: 22.5vw;

    }
}