@font-face {
    font-family: 'Light';
    src: local('Bender'),
        url('/fonts/bender.otf') format('opentype')
}

* {
    font-family: 'Light';
    margin: 0;
}

.body {
    background-image: url('/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: auto;
    font-family: "Light";
    background-color: rgb(14,16,14);
    background-color: linear-gradient(90deg, rgba(14,16,14,1) 18%, rgba(22,24,18,1) 47%, rgba(20,21,17,1) 100%);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.page {
    display: flex;
    justify-content: center;
    margin: 0;
}

.character-container {
    position: relative;
    width: 680px;
    display: flex;
    font-size: 15px;
    margin-top: 0.5vh;
}

.earpiece-headwear-facecover {
    position: absolute;
    width: 678px;
    height: 182px;
    display: flex;
    margin-top: -844px;
    z-index: 1;
}

.bodyarmor {
    position: absolute;
    width: 678px;
    height: 182px;
    display: flex;
    flex-direction: row;
    margin-top: -640px;
    z-index: 2;
}

.holster {
    position: absolute;
    top: 432px;
    width: 185px;
    margin-left: 490px;
    max-height: 182px;
    z-index: 1;
}

.onsling {
    position: absolute;
    top: 432px;
    width: 394px;
    margin-left: 30px;
    max-height: 182px;
    z-index: 1;
}

.map {
    position: absolute;
    width: 420px;
    left: 33px;
    height: 182px;
    top: 643px;
    display: flex;
    z-index: 0;
}

.character-background {
    width: auto;
    z-index: 1;
}

.main {
    margin: 0;
    width: auto;
    justify-self: center;
}

.character-background-container {
    display: flex;
    flex-direction: column;
}

.main-background-element {
    display: flex;
    justify-content: center;
    width: 690px;
    filter: drop-shadow(5px 5px 15px black);
    height: auto;
}

.loading-icon-container {
    background-color: #8D8D8D;
    text-align: center;
    height: auto;
    font-size: 24px;
}

.loading-animation {
    height: 40px;
    width: 40px;
    animation: spin 2s linear infinite;
    background-image: url('/images/small_dice.svg');
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    background-position: center;
    border-radius: 5px;
    background-color: rgb(14,16,14);
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
