* {
    font-family: 'Roboto', sans-serif;
}

.character-container {
    position: relative;
    border: 1px rgb(0, 255, 115) solid;
    width: 680px;
    display: flex;
}

.earpiece-headwear-facecover {
    position: absolute;
    border: 1px rgb(4, 0, 255) solid;
    width: 678px;
    height: 200px;
}

.bodyarmor {
    position: absolute;
    top: 224px;
    border: 1px rgb(248, 252, 4) solid;
    width: 678px;
    height: 182px;
}

.onsling-holster {
    position: absolute;
    top: 433px;
    border: 1px rgb(255, 1, 1) solid;
    width: 678px;
    height: 182px;
}